params {
    genomes {
        'GRCh38' {
            fasta  = "${params.genomes_base}/Homo_sapiens/bismark/GRCh38/genomes/Homo_sapiens_assembly38.fasta"
            bismark_refdir  = "${params.genomes_base}/Homo_sapiens/bismark/GRCh38/genomes/Bisulfite_Genome"
        }
        'GRCh37' {
            fasta = "${params.genomes_base}/Homo_sapiens/bismark/GRCh37/genomes/hs37d5.fa"
            bismark_refdir = "${params.genomes_base}/Homo_sapiens/bismark/GRCh37/genomes/Bisulfite_Genome"
        }
    }
}
