/*
========================================================================================
    Nextflow config file for iGenomes paths
========================================================================================
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    // illumina iGenomes reference file paths
    genomes {
        'GRCh38' {
            bismark     = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/BismarkIndex/"
            fasta       = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/BismarkIndex/genome.fa"
                }
        'GRCh38_fht' {
            bismark     = "${params.igenomes_base}/Homo_sapiens/bismark/GRCh38/genomes"
            fasta       = "${params.igenomes_base}/Homo_sapiens/bismark/GRCh38/genome/Homo_sapiens_assembly38.fasta"
                }
    }
}
