process {
    executor = 'slurm'
    errorStrategy = {task.exitStatus in [143,137,104,134,139,255] ? 'retry' : 'finish'}
    maxRetries = 5
}

executor {
    // This is set because of an issue with too many
    // singularity containers launching at once, they
    // cause an singularity error with exit code 255.
    submitRateLimit = "2 sec"
}
